@page
@model ResumeCoverLetterCreator.Pages.IndexModel
@{
    ViewBag.Title = "Resume Builder";
}

<h1 class="text-center">Resume Builder</h1>

<form class="m-3" method="post">
    <div class="row mb-3">
        <label class="col-sm-2">Your Full Name:</label>
        <input class="col-sm-3" type="text" name="fullName" />
    </div>
    <div class="row mb-3">
        <label class="col-sm-2">Manager Name:</label>
        <input class="col-sm-3" type="text" name="hiringManager" />
    </div>
    <div class="row mb-3">
        <label class="col-sm-2">Company:</label>
        <input class="col-sm-3" type="text" name="companyFor" />
    </div>
    <div class="row mb-3">
        <label class="col-sm-2">Position:</label>
        <input class="col-sm-4" type="text" name="positionFor" />
    </div>
    
    
    

    @foreach(var tagGroup in Model.TagGroups)
    {
        <div class="row mb-3">
            <label class="col-sm-2">@($"{tagGroup.Name}:")</label>
            <select class="col-sm-8" name=@tagGroup.Id>
                @foreach(var groupOption in tagGroup.GroupOptions)
                {
                            <option value=@groupOption.Id>@groupOption.Name</option>
                }
            </select>
        </div>
        
    }
     
    <div class="text-center"><button class="btn btn-primary" asp-page-handler="PrepareDocuments">Get Documents</button></div>
</form>       

